@font-face {
    font-family: 'good_moodregular';
    src: url('../fonts/good_mood-webfont.woff2') format('woff2'),
         url('../fonts/good_mood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Louis_George_Cafe';
    src: url('../fonts/Louis-George-Cafe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1D1D1D;
    color: #fff;
    font-family: 'good_moodregular';
}
a{
    text-decoration: none;
    color: #ffffff;
}
/* START NAV */
nav .icon{
    text-decoration: none;
    color:#e9e9e9;
    font-size: 8vw;
}
nav .oblong{
    content: "";
    width: 100%;
    height: 8px;
}
nav .oblong:nth-child(1){
    background: #008000;
}
nav .oblong:nth-child(2){
    background: #ffffff;
}
nav .oblong:nth-child(3){
    background: #ff1919;
}
/* END NAV */

/* START BURGER */
.burger-section .imgBurger{
    width: 30vw;
}
.burger-section h3{
    font-size: 6vw;
    text-decoration: none!important;
    color: white;
}
.burger-section .elementBurger:nth-child(even){
    flex-direction: row;
}
.burger-section .elementBurger:nth-child(odd) {
    flex-direction: row-reverse;
}
/* END BURGER */

/* START PHONE */
.phone-section{
    font-family: 'Louis_George_Cafe', Verdana, Geneva, Tahoma, sans-serif;
}
.phone-section .rectangle{
    content: "";
    width: 30px;
    height: 2px;
    background: #ffffff;
}
.phone-section .iconPhone{
    font-size: 9vw;
}
.phone-section .reseaux p{
    font-size: 4vw;
    text-decoration: none!important;
    color: #ffffff;
}
/* END PHONE */

/* START FOOTER */
footer h6{
    font-size: 10vw;
}
#footer{
    background: #ff3e3e;
    
}
#footer .img-footer{
    width: 30vw;
}
#footer .iconFooter{
    font-size: 8vw;
    color: #ffffff;
}
/* END FOOTER */